@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --azul: #55bdff;
    --vermelho: #ff6b55;
    --roxo: #5560ff;
    --cinza: #cccccc;
    --laranja: #ff480f;
    --azulMarinho: #012226;
}

* {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    z-index: 3;
  }

  footer a {
    height: 100%;
    width: 25%;
    color: black;
  }
  
  footer div {
    height: 100%;
    width: 100%;
    background-color: white;
    border-top: 2px solid var(--cinza);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    footer img {
      height: 60%;
    }

    footer span {
      font-size: 0.7rem;
    }