body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  header {
    width: 100%;
    background-color: var(--laranja);
    height: 4rem;
    display: flex;
    justify-content: center;
    top: 0;
    position: fixed;
    z-index: 2;
    border-bottom: 2px solid white;
  }

    header img {
      height: 2.5rem;
    }

    header .opcoes {
      width: 90%;
      height: 100%;
      display: flex;
      align-items: center;
      color: white;
      gap: 0.5rem;
    }

      header .titulo {
        display: flex;
        flex-direction: column;
      }

        header .titulo h1 {
          margin: 0;
          font-size: 1.5rem;
        }

        header .titulo span {
          margin: 0;
          font-size: 0.8rem;
        }

    .editarRegiao {
      margin-left: auto;
      cursor: pointer;
    }

  .espacoInicial {
    height: 5rem;
  }

  .conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .cartao {
      width: 80%;
      display: flex;
      justify-content: space-between;
      border: 2px solid var(--cinza);
      border-radius: 15px;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    .cartao h2 {
      margin: 0;
      font-size: 1rem;
    }

    .cartao p {
      margin: 0;
      font-size: 0.8rem;
    }

    .cartao img {
      height: 2.5rem;
    }

      .conteudo .rio {
        height: 450px;
        overflow: hidden;
        position: relative;
      }

        .conteudo .rio .areaRio {
          height: 350px;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
        }

        .rio .areaRio svg {
          width: 20%;
          height: 2px;
        }

        .linha {
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          gap: 0.5rem;
          z-index: 1;
        }

        .linha .spanContainer {
          transform: translateY(-0.5rem);
        }

        .linhaAlturaAtual {
          bottom: auto;
          top: 0;
        }

        .conteudo .rio span {
          position: relative;
          z-index: 1;
          font-size: 1rem;
          line-height: 1rem;
        }

        .conteudo .rio .spanContainer {
          display: flex;
          gap: 0.5rem;
        }

        .conteudo .rio .rioVetor {
          background-color: var(--azul);
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 0;
        }

          .rioVetor span {
            color: white;
          }

          .conteudo .rio .rioVetor::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-38px);
            width: 100%;
            background-image: url(../assets/rio.svg);
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            z-index: 0;
            height: 40px;
          }

  .cartao img {
    filter: saturate(0) opacity(0.2);
  }

  .risco1 img:nth-child(1) {
    filter: none;
  }

  .risco2 img:nth-child(1), 
  .risco2 img:nth-child(2) {
    filter: none;
  }

/*   .risco2 img:nth-child(3) {
    filter: saturate(3) opacity(0.3) brightness(0.3);
  } */

/*   .risco2 {
    opacity: 0.7;
  } */

  .risco3 img:nth-child(1), 
  .risco3 img:nth-child(2), 
  .risco3 img:nth-child(3) {
    filter: none;
  }

/*   .risco3 {
    color: white;
  } */

/*     .risco2.incendio,
    .risco3.incendio {
      background-color: var(--vermelho);
      border-color: var(--vermelho);
    }

    .risco2.enchente,
    .risco3.enchente {
      background-color: var(--azul);
      border-color: var(--azul);
    }

    .risco2.tempestade,
    .risco3.tempestade {
      background-color: var(--roxo);
      border-color: var(--roxo);
    } */

    /*   .risco2 img:nth-child(1), 
  .risco2 img:nth-child(2) {
    filter: saturate(3) opacity(1) brightness(0.3);
  }

  .risco2 img:nth-child(3) {
    filter: saturate(3) opacity(0.3) brightness(0.3);
  }

  .risco2 {
    opacity: 0.7;
  }

  .risco3 img:nth-child(1), 
  .risco3 img:nth-child(2), 
  .risco3 img:nth-child(3) {
    filter: brightness(5);
  }

  .risco3 {
    color: white;
  }

    .risco2.incendio,
    .risco3.incendio {
      background-color: var(--vermelho);
      border-color: var(--vermelho);
    }

    .risco2.enchente,
    .risco3.enchente {
      background-color: var(--azul);
      border-color: var(--azul);
    }

    .risco2.tempestade,
    .risco3.tempestade {
      background-color: var(--roxo);
      border-color: var(--roxo);
    } */

  .botoesAcao button {
    width: 47%;
    height: 3rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 1.5rem;
    color: white;
    background-color: var(--cinza);
  }

  #btnAtualizar {
    background-color: var(--laranja);
  }

  .espacoBranco {
    height: 12rem;
  }

  .rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: var(--azulMarinho);
    color: white;
    height: 9rem;
    gap: 1rem;
    padding: 0 15% 5rem 15%;
  }

    .rodape .img {
      height: 4.5rem;
    }

      .rodape .img img {
        height: 100%;
      }

    .rodape p {
      font-size: 0.7rem;
    }

    .alertaTxt {
      line-height: 1.5rem;
      font-size: 1rem;
      text-align: center;
      width: 100%;
      background-color: var(--laranja);
      color: white;
      font-weight: 600;
      margin-bottom: 1rem;
    }

.alertaLink {
  width: 90%;
}
  
.alerta {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: white;
  margin-bottom: 2rem;
  width: 90%;
}

  .alerta .informacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  .alerta .informacoes .iconAlerta {
    filter: invert(1) brightness(5);
    width: 5rem;
    height: auto;
  }

  .alerta .texto {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

    .alerta .texto .desastre {
      font-size: 1.5rem;
      font-weight: 700;
    }


  .alerta .textoBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

    .alerta .textoBtn img {
      filter: invert(1);
      width: 2rem;
      height: auto;
    }

    .alerta .textoBtn span {
      font-size: 0.6rem;
      width: 5rem;
      text-align: center;
    }

.incendioAlerta {
  background-color: var(--vermelho);
  border-color: var(--vermelho);
}

.enchenteAlerta {
  background-color: var(--azul);
  border-color: var(--azul);
}

.tempestadeAlerta {
  background-color: var(--roxo);
  border-color: var(--roxo);
}

.avisoRioTela {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--azul);
  z-index: 5;
  display: flex;
  justify-content: center;
  transition: all 1s ease;
  opacity: 0;
}

  .avisoRioTela div {
    margin-top: 5rem;
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
  }

    .avisoRioTela h4 {
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

      .avisoRioTela h4 span {
        font-size: 2.8rem;
      }

    .avisoRioTela div img {
      width: 23rem;
      filter: invert(1) brightness(5);
    }

    .avisoRioTela .legenda {
      font-size: 1.3rem;
    }

.none {
  display: none;
}