.impedirRolagem {
    overflow: hidden;
}

.telaCarregamento {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--laranja);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: all 1s ease;
  }

    .telaCarregamento .logo {
      position: relative;
      width: 10rem;
      height: 10rem;
    }

      .telaCarregamento .logo img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border: 5px solid white;
        border-radius: 50%;
      }

      /* Carregar no início */

            /* .carregar .logo .logoExterno {
              animation: giro 2s ease-in-out 1s 3;
            }

            @keyframes giro {
              0% {
                transform: rotate(0);
              }

              100% {
                transform: rotate(360deg);
              }
            }

            .carregar .carregando {
              animation: carregar 6s ease-in-out 1s forwards;
            }

            @keyframes carregar {
              0% {
                width: 0%;
              }
              100% {
                width: 100%;
              }
            } */
          
      /* ----------------- */

      /* Carregamento lento */

              .carregamentoLento .logo .logoExterno {
                animation: giro 2s ease-in-out 1s 8;
              }

              .carregamentoLento .carregando {
                animation: carregar 16s ease-in-out 1s forwards;
              }

      /* ------------------ */

      .telaCarregamento .login {
        position: relative;
        width: 70%;
        height: 2rem;
        border: 3px solid var(--azulMarinho);
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      /* Abrir caixa de formulário de login */
      
                .abrirCaixa .login {
                  animation: expandirBarra 1s ease-in-out forwards;
                }

                  @keyframes expandirBarra {
                      0%{
                          height: 2rem;
                      }
                      100%{
                          height: 25rem;
                      }
                  }

                .abrirCaixa .mensagem {
                  animation: aparecer 1s ease 1s forwards;
                }

                @keyframes aparecer {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }

      /* ------------------ */


        .telaCarregamento .carregando {
          position: absolute;
          left: 0;
          top: 0;
          background-color: white;
          width: 0;
          height: 100%;
          z-index: 1;
        }

            .mensagem {
                height: 100%;
                width: 100%;
                border: none;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;
                z-index: 3;
                opacity: 0;
            }

                .login h3 {
                    line-height: 2rem;
                    width: 100%;
                    text-align: center;
                    color: var(--laranja);
                }

                .login .form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 80%;
                    gap: 0.3rem;
                }

                .login label {
                    width: 100%;
                    text-align: left;
                }

                .login select {
                    width: 100%;
                    height: 2rem;
                    border: 2px solid var(--laranja);
                    border-radius: 1rem;
                    padding: 0 0.5rem;
                    margin-bottom: 2rem;
                }

                .login button {
                    width: 15rem;
                    height: 2.3rem;
                    background-color: var(--laranja);
                    border: none;
                    border-radius: 1.2rem;
                    color: white;
                    margin: auto 0 1.5rem 0;
                }

.oculto {
  opacity: 0;
  transition: 0.5s opacity ease;
}

.none {
  display: none;
}