.impedirRolagem {
    overflow: hidden;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-backdrop-filter: blur(7px); 
    backdrop-filter: blur(7px);
    z-index: 1;
    transition: 0.5s opacity ease;
}

.oculto {
    opacity: 0;
}

.none {
    display: none;
}

    .mensagem {
        height: 22rem;
        width: 30rem;
        border: none;
        border-radius: 2rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

        .login h3 {
            margin: 0 0 2rem 0;
            line-height: 4rem;
            background-color: var(--azul);
            width: 100%;
            text-align: center;
            color: white;
        }

        .login .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            gap: 0.3rem;
        }

        .login label {
            width: 100%;
            text-align: left;
        }

        .login select {
            width: 100%;
            height: 2rem;
            border: 2px solid var(--azul);
            border-radius: 1rem;
            padding: 0 0.5rem;
            margin-bottom: 1rem;
        }

        .login button {
            width: 10rem;
            height: 2.3rem;
            background-color: var(--azul);
            border: none;
            border-radius: 1.2rem;
            color: white;
            margin: auto 0 1.5rem 0;
        }